.throws{
  position: relative;
  background-color: aliceblue;
   width: 10% !important;
  /*margin: 50px; */
  overflow: auto;
}
.tablerows{
  position: relative;
  width: 100%;
  overflow: auto ;
}
.status{
  visibility: hidden;
  background-color: rgb(161, 156, 156);
  color: rgb(0, 0, 0);

}
.cardview{
  position: absolute;
  width: 40%;
  height: auto;
  z-index: 1;
  margin-left: 30%;
  margin-top: 5%;
  margin-right: 40%;
  background-color: rgb(241, 255, 255);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  visibility: hidden;
  overflow: auto;
}
.headers{
  position: relative;
  top: -8%;
  padding:1px;
  width: 100%;
  color: aliceblue;
  text-align:center;
  background-color: darkslategrey;
  border-radius: 5px;



}
